@model CreateBrandDto

@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marka Ekleme</h4>
                        <p class="card-subtitle mb-4">
                            <b>
                                Buradan Marka Ekleme Yapabilirsiniz. Lütfen Verileri Eksiksiz Doldurunuz.
                                Ardından Kaydet Butonuna Basarak İşlemi Sonlandırabilirsiniz.
                            </b>
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputModel">Marka Adı</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Name" placeholder="Marka Adı Giriniz.">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
    </div>
</div>
