<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    CarBook - Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>

                <li><a href="#" class="waves-effect"><i class="mdi mdi-monitor-screenshot"></i><span>Ana Sayfa</span></a></li>
                <li><a asp-controller="Default"asp-action="Index" class="waves-effect"><i class="fas fa-home"></i><span>Siteye Git</span></a></li>
                <li><a asp-controller="AdminCar" asp-action="Index" class="waves-effect"><i class="mdi mdi-car-multiple"></i><span>Araç İşlemleri</span></a></li>
                <li><a asp-controller="AdminFeature" asp-action="Index" class="waves-effect"><i class="mdi mdi-car-door"></i><span>Araç Özellikleri</span></a></li>
                <li><a asp-controller="AdminBrand" asp-action="Index" class="waves-effect"><i class="mdi mdi-book-multiple"></i><span>Markalar</span></a></li>
                <li><a asp-controller="AdminBanner" asp-action="Index" class="waves-effect"><i class="mdi mdi-image-size-select-actual"></i><span>Site Banner Alanı</span></a></li>
                <li><a asp-controller="AdminAbout" asp-action="Index" class="waves-effect"><i class="mdi mdi-information"></i><span>Hakkımızda</span></a></li>
                <li><a asp-controller="AdminAuthor" asp-action="Index" class="waves-effect"><i class="mdi mdi-brush"></i><span>Yazar İşlemleri</span></a></li>
                <li><a asp-controller="AdminCategory" asp-action="Index" class="waves-effect"><i class="mdi mdi-format-list-triangle"></i><span>Blog Kategorileri</span></a></li>
                <li><a asp-controller="AdminBlog" asp-action="Index" class="waves-effect"><i class="mdi mdi-file-table"></i><span>Blog İşlemleri</span></a></li>
                @* <li><a asp-controller="" asp-action="Index" class="waves-effect"><i class="mdi mdi-credit-card"></i><span>Ödeme Türleri</span></a></li> *@
                @* <li><a asp-controller="" asp-action="Index" class="waves-effect"><i class="mdi mdi-credit-card"></i><span>Yorumlar</span></a></li> *@
                <li><a asp-controller="AdminContact" asp-action="Index" class="waves-effect"><i class="mdi mdi-contact-phone"></i><span>İletişim</span></a></li>
                <li><a asp-controller="AdminFooterAddress" asp-action="Index" class="waves-effect"><i class="mdi mdi-home-group"></i><span>Alt Adres</span></a></li>
                @* <li><a asp-controller="" asp-action="Index" class="waves-effect"><i class="mdi mdi-home-group"></i><span>Lokasyonlar</span></a></li> *@
                <li><a asp-controller="AdminService" asp-action="Index" class="waves-effect"><i class="mdi mdi-home-group"></i><span>Hizmetler</span></a></li>
                <li><a asp-controller="AdminSocialMedia" asp-action="Index" class="waves-effect"><i class="mdi mdi-home-group"></i><span>Sosyal Medya</span></a></li>
                <li><a asp-controller="" asp-action="Index" class="waves-effect"><i class="mdi mdi-human-male-female"></i><span>Referanslar</span></a></li>
                <li><a asp-controller="" asp-action="Index" class="waves-effect"><i class="mdi mdi-pound"></i><span>Etiket Bulutu</span></a></li>
                <li><a asp-controller="" class="waves-effect"><i class="mdi mdi-pound"></i><span>Ayarlar</span></a></li>
                <li><a asp-controller="" class="waves-effect"><i class="mdi mdi-pound"></i><span>Çıkış Yap</span></a></li>
                @*                 <li>


                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-copy"></i><span>Pages</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-invoice.html">Invoice</a></li>
                        <li><a href="pages-starter.html">Starter Page</a></li>
                        <li><a href="pages-maintenance.html">Maintenance</a></li>
                        <li><a href="pages-faqs.html">FAQs</a></li>
                        <li><a href="pages-pricing.html">Pricing</a></li>
                        <li><a href="pages-login.html">Login</a></li>
                        <li><a href="pages-register.html">Register</a></li>
                        <li><a href="pages-recoverpw.html">Recover Password</a></li>
                        <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                        <li><a href="pages-404.html">Error 404</a></li>
                        <li><a href="pages-500.html">Error 500</a></li>
                    </ul>
                </li> 

                <li><a href="calendar.html" class=" waves-effect"><i class="feather-calendar"></i><span>Calendar</span></a></li>

 *@
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>