@model UpdateFeatureDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Özellik Güncelleme</h4>
                        <p class="card-subtitle mb-4">
                            <b>
                                Buradan Mevcut Araç Özelliğini Güncelleyebilirsiniz. Lütfen verileri eksiksiz doldurunuz.
                                Ardından Kaydet butonuna basarak işlemi sonlandırabilirsiniz.
                            </b>
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="FeatureId" />
                            <div class="form-group">
                                <label for="exampleInputModel">Özellik Adı</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="Name" placeholder="Araç Özelliği Bilgisi Giriniz.">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>